<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <!-- Arquivo de estilos -->

    <link rel="stylesheet" href="{% static 'css/estilo_index.css' %}" />

    <!-- Importaçãp da fonte "Inter e Roboto do google fonts" -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500&family=Roboto:wght@300;400;700&display=swap" rel=""/>
</head>
<body>
    <nav id="navbar" >
        <div class="logo">
            <img src="{% static 'img/logo-tecban.png' %}" alt="">
        </div><div class="links">
            <ul>
                <li><a href="#">Saiba mais</a></li>
                <li><a href="#">Sobre nós</a></li>
                <li><a href="#">Contato</a></li>
                <li>
                    <button type="submit"><a href="{% url 'TecHub:login' %}">Login</a></button>
                </li>
            </ul>
        </div>        
    </nav>
    <section id="section-video">
        <video class="video-tecban" width="100%" autoplay loop muted>
            <source type="video/mp4" src="{%static 'video/video_tecban.mp4'%}">
        </video>
    </section>
</body>
</html>