{% extends "barra_navegacao.html" %}
{% load static %}
{% block title %}TecHub{% endblock %}
{% block link %}
    <link rel="stylesheet" href="{% static 'css/estilo_cambio.css' %}">
{% endblock %}

{% block conteudo %}
    <input type="hidden" id="url" value="{{ url }}"/>
    <div id="conteudo-hub-pai">
        <section id="conteudo-hub"> 
            <div class="container-hub">
                <p class='bem-vindo'>
                    <span class='bem-vindo-nome'><b>Bem-vindo {{ user_info.first_name }}</b></span><br>
                    <span class='data'>{{data}}</span>
                </p>
            </div>
            <div id="container-info-instituicao">
                <div>
                    <form action="" method="post">
                        {% csrf_token %}

                        {{ form.valor_cambio.label }}
                        {{ form.valor_cambio }}

                        <button type="submit">Submit</button>
                    </form>
                    <button>
                        <a href="{% url 'TecHub:instituicao_view' pk=instituicao.pk %}">Voltar</a>
                    </button>
                </div>
            </div>
        </section>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    {% if messages %}
        {% for m in messages %}
            <script>
                Swal.fire({
                    "title": "{{m}}",
                    "text": "Saldo disponível: R$ {{valor_disponivel}}",
                    "icon": "error",
                    "confirmButton": "OK",
                })
            </script>
        {% endfor %}
    {% endif %}  
{% endblock conteudo %} 
{% block script %}
    <script src="{% static 'code.jquery.com_jquery-3.7.1.min.js' %}"></script>
    <script>
        $(document).ready(function () {
        var url = $('#url').val();
        if (url == '/hub/') {
            $('#hub').attr('style', 'background-color: #b5a1b1dd!important; border-radius: 10px');
        }
    })
    </script>
{% endblock %}