{% extends "barra_navegacao.html" %}    
{% load static %}
{% block title %}TecHub{% endblock %}
{% block link %}
    <link rel="stylesheet" href="{% static 'css/estilo_hub.css' %}">
{% endblock %}

{% block conteudo %}
    <input type="hidden" id="url" value="{{ url }}"/>
    <div id="conteudo-hub-pai">
        <section id="conteudo-hub"> 
            <div class="container-hub">
                <p class='bem-vindo'>
                    <span class='bem-vindo-nome'><b>Bem-vindo {{ user_info.first_name }}</b></span><br>
                    <span class='data'>{{data}}</span>
                </p>
            </div>
            <div id="instituicoes-user">   
                {% for instituicao in instituicoes %}
                    <div id="instituicao-usuario">
                        <div class="container-foto-nome">
                            <div class="container-foto">
                                <i>
                                    <img  class='foto-instituicao' src="{{ instituicao.instituicao_user.foto_instituicao }}" alt="">
                                </i> 
                            </div>
                            <div class="nome-instituicao">{{instituicao.instituicao_user}}</div>   
                        </div>
                        <div>{{instituicao.info_instituicao_user.saldo_bancario}}</div>
                        <div>{{instituicao.info_instituicao_user.saldo_drex}}</div>                        
                        <div>
                            <button><a href="{% url 'TecHub:instituicao_view' pk=instituicao.id %}">Acessar</a></button>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
    </div>  
{% endblock conteudo %}
{% block script %}
<script type="text/javascript">
    $(document).ready(function () {
        var url = $('#url').val();
        var item = $('.nav-item')
        if (url == '/hub/') {
            $('#hub').attr('style', 'background-color: #b5a1b1dd!important; border-radius: 10px');
        }
    })
</script>
{% endblock %}