{% extends "barra_navegacao.html" %}
{% load static %}
{% block title %}TecHub{% endblock %}
{% block link %}
    <link rel="stylesheet" href="{% static 'css/estilo_transferencia.css' %}">
{% endblock %}

{% block conteudo %}
<input type="hidden" id="url" value="{{ url }}"/>
<div id="container-openfinance-pai">
    <section id="conteudo-openfinance">
        <div class="container-openfinance">
            <p class="bem-vindo">
                <span class="bem-vindo-nome"
                    ><b>Bem-vindo {{ user_info.first_name }}</b></span
                ><br />
                <span class="data">{{data}}</span>
            </p>
        </div>
        <div class="form-transferencia">
            <div class="inputs-openfinance">
                <input type="hidden" id="url" value="{{ url }}"/>
                {% for error in erros %}
                    <span>{{ error }}</span>
                {% endfor %}
                <form method="post">
                    {% csrf_token %}
                    <!-- ======== Saldo em DREX ======== -->
                    <div class="div-input-campo">
                        <label class="label" for="saldo_drex">Saldo DREX</label>
                        <span class="icone-instituicao">
                            <i class="fa-solid fa-landmark"></i>
                        </span>
                        <input type="text" class="input-campo" id='saldo_drex' name='saldo_drex' value="X$ {{saldo_drex}}" readonly>
                    </div>

                    <!-- ======== Instituição ======== -->
                    <div class="div-input-campo">
                        <label class="label" for="instituicao_destino">Instituição</label>
                        <span class="icone-instituicao">
                            <i class="fa-solid fa-landmark"></i>
                        </span>
                        <select name="instituicao_destino" class="select" id="instituicao_destino" required>
                            <option value="0">Selecione a instituição...</option>
                            <option value="">Bank of China - 中国银行</option>
                            <option value="">Bank of America</option>
                            <option value="">BNP Paribas</option>
                            <option value="">Deutsche Bank</option>
                            <option value="">HSBC</option>
                        </select>
                    </div>

                    <!-- ======== Conta| Agência ======== -->
                    <div class="div-input-campo">
                        <div id="container-conta-agencia">
                            <div id="container-agencia">
                                <label id="label-agencia" for="agencia">Agência</label>
                                <div class="input-conta-agencia">
                                    <span class="icone-agencia"><i class="fa-solid fa-house-user"></i></span>
                                    <input
                                        id="agencia"
                                        class="input-campo"
                                        name="agencia"
                                        type="text"
                                        maxlength="5"
                                        placeholder="Digite sua Agência"
                                        required
                                    />
                                </div>
                            </div>
                            <div id="container-conta">
                                <label id="label-conta" for="conta">Conta</label>
                                <div class="input-conta-agencia">
                                    <span class="icone-conta"><i class="fa-solid fa-money-check-dollar"></i></span>
                                    <input
                                        id="conta"
                                        class="input-campo"
                                        name="conta"
                                        type="text"
                                        maxlength="5"
                                        placeholder="Digite sua Conta"
                                        required
                                    />
                                </div>
                            </div>
                            
    
                        </div>
                    </div>

                    <!-- ======== Moeda Destino ======== -->
                    <div class="div-input-campo">
                        <label class="label" for="moeda_destino">Moeda</label>
                        <span class="icone-instituicao">
                            <i class="fa-solid fa-landmark"></i>
                        </span>
                        <select name="moeda_destino" class="select" id="moeda_destino" required>
                            <option value="">Selecione...</option>
                                {% for id, moeda in moedas %}
                                    <option value="{{ id }}">{{ moeda }}</option>
                                {% endfor %}
                        </select>
                    </div>

                    <!-- ======== Valor Transferência ======== -->
                    <div class="div-input-campo">
                        <label for="valor_transferencia">Valor da transferencia</label>
                        <span class="icone-senha">
                            <i class="fa-solid fa-key"></i>
                        </span>
                        <input type="text" class="input-campo" maxlength="18" id='valor_transferencia' name='valor_transferencia' value="{{ valor_transferencia }}">
                    </div>

                    <!-- ======== Saldo necessário ======== -->
                    <div class="div-input-campo-saldo-necessario">
                        <div>
                            Saldo Necessário em DREX 
                        </div>
                        <div id="saldo_necessario">
                            X$ 0,00
                        </div>
                    </div>

                    <!-- ======== Botões ======== -->
                    <div id="container-btns">
                        <button class="btn">
                            <a href="{% url 'TecHub:instituicao_view' pk=instituicao.pk %}">Voltar</a>
                        </button>
                        <button class="btn">Transferir</button>
                    </div>

                </form> 
            </div>
        </section>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    {% if messages %}
        {% for m in messages %}
            <script>
                Swal.fire({
                    "title": "{{m}}",
                    "text": "Saldo disponível: X$ {{saldo_drex}}",
                    "icon": "error",
                    "confirmButton": "OK",
                })
            </script>
        {% endfor %}
    {% endif %}    
{% endblock conteudo %}
{% block script %}
<script src="{% static 'code.jquery.com_jquery-3.7.1.min.js' %}"></script>
<script src="{% static 'jquery.mask.min.js' %}"></script>
<script>
$(document).ready(function() {

    var url = $('#url').val();
    if (url == '/hub/') {
        $('#hub').attr('style', 'background-color: #b5a1b1dd!important; border-radius: 10px');
    }

    $('#conta').mask('0000000-0');
    $('#agencia').mask('00000');
    $('#valor_transferencia').mask("#.##0,90", {reverse: true})

    $('#moeda_destino, #valor_transferencia').on('input', function() {
        

        // Obtenha os valores selecionados
        var tipoMoeda = $('#moeda_destino').val();
        var valorTransferenciaBr =$('#valor_transferencia').val();
        var valorTransferenciaUs = valorTransferenciaBr.replace(/\./g, "").replace(",", ".");
        var valorTransferencia = parseFloat(valorTransferenciaUs);
        console.log(valorTransferencia)

       

        // Verifique se os valores são números válidos
        if (!isNaN(valorTransferencia)) {
            fetch('https://economia.awesomeapi.com.br/last/'+tipoMoeda+'-BRL')
                .then(function(response){
                    return response.json()
                })
                .then(function(data){
                    var cotacao = data[tipoMoeda+'BRL'].high
                    var valorNecessarioDREX = valorTransferencia * cotacao
                    var opcoesDeFormatacao = {
                        minimumFractionDigits: 2, // Define o número mínimo de casas decimais
                        maximumFractionDigits: 2, // Define o número máximo de casas decimais
                        useGrouping: true, // Habilita a separação de milhares com ponto
                        style: 'decimal', // Define o estilo de formatação como decimal
                    };
                    var valorNecessarioDREXFormatado = valorNecessarioDREX.toLocaleString('pt-BR', opcoesDeFormatacao);
                    $('#saldo_necessario').text('X$ ' + valorNecessarioDREXFormatado);

                })
        } else {
            valorTransferencia = parseFloat('0');
            var valorNecessarioDREX = valorTransferencia
                    var opcoesDeFormatacao = {
                        minimumFractionDigits: 2, // Define o número mínimo de casas decimais
                        maximumFractionDigits: 2, // Define o número máximo de casas decimais
                        useGrouping: true, // Habilita a separação de milhares com ponto
                        style: 'decimal', // Define o estilo de formatação como decimal
                    };
                    var valorNecessarioDREXFormatado = valorNecessarioDREX.toLocaleString('pt-BR', opcoesDeFormatacao);
                    $('#saldo_necessario').text('X$ ' + valorNecessarioDREXFormatado);
        }
    })  
});
</script>
{% endblock %}