<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cadastro TecHub</title>
</head>
<body>
    <h1>Cadastro TecHub</h1>

    <form action="{% url 'cadastro' %}" method="post">
        {% csrf_token %}
        <input type="text" placeholder="Nome" name="nome">
        <br><br>
        <input type="text" placeholder="Sobrenome" name="sobrenome">
        <br><br>
        <input type="text" placeholder="Login" name="login">
        <br><br>
        <input type="password" placeholder="Senha" name="senha" >
        <br><br>
        <input type="password" placeholder="Confirme sua senha" name="confirma_senha">
        <br><br>
        <input type="submit" value="Cadastrar">
    </form>
</body>
</html>