:root {
    --tecbanBlack01: #000f00!important;
    --tecbanCyan01: #0ff!important;
    --tecbanCyan02: rgba(0,255,255,0.611764705882353)!important;
    --tecbanCyan03: #5ff!important;
    --tecbanCyan04: rgba(0,255,255,0.4666666666666667)!important;
    --tecbanGray01: #ecebed!important;
    --tecbanRed01: #ed1846!important;
    --tecbanWhite01: #fff!important;
    --tecbanLightGray: #d3d3d3 !important;
    --tecBanDarkGray: #999696 !important;
}



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    
}

body {
    font-family: 'Inter', sans-serif
}


/* =============================================== */
#main {
    display: flex;
    width:100%
}

#container-pai {
    display: flex;
    width: 15%;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

#container {
    display: flex;
    height: 95vh;
    align-items: center;
    flex-direction: column;
    background-image:linear-gradient(60deg, var(--tecbanRed01), var(--tecbanBlack01));
    border-radius: 0px 20px 20px 0px
}

#imagem-container {
    width: 100%;
    padding: 2rem 2rem 2rem 1.8rem;
}

.imagem {
    width: 100%;
}

.lista {
    list-style: none;
    width: 100%;
    font-size: 1.6rem;
}


.nav-btn {
    display: flex;
    background: transparent;
    width: 100%;
    height: 4rem;
    border: none
}


.nav-btn:hover {
    border-radius: 7px;
    background: var(--tecBanDarkGray);
}

.nav_link {
    display:flex;
    color: var(--tecbanWhite01);
    text-decoration: none;
    font-size: 1.6rem;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: start;
}

