:root {
    --tecbanBlack01: #000f00!important;
    --tecbanCyan01: #0ff!important;
    --tecbanCyan02: rgba(0,255,255,0.611764705882353)!important;
    --tecbanCyan03: #5ff!important;
    --tecbanCyan04: rgba(0,255,255,0.4666666666666667)!important;
    --tecbanGray01: #ecebed!important;
    --tecbanRed01: #ed1846!important;
    --tecbanWhite01: #fff!important;
    --tecbanLightGray: #d3d3d3 !important;
}



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;

}

body {
    font-family: 'Inter', sans-serif;
    background-image: url(./fundotecban.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

/* ============================================== */

#principal {
    height: 100vh;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(0);
    opacity: 1;
    transition: transform 1s ease, opacity 1s ease;

}

#principal.hide {
    transform: translateY(-20px);
    opacity: 0;
}


#container {
    box-shadow: 6px 3px 7px var(--tecbanBlack01);
    justify-content: center;    
    display: inline-block;
    height: 36%;
    width: 18%;
    justify-content: center;
    text-align: center;
    background-color:#ecebed66;
    border-radius: 8px;
}

#titulo-acesso {
    display:flex;
    font-size: 2.2rem;
    margin-top: 10%;
    justify-content: center;
    position: relative;
    color: #524545;
}

#hub {
    color: #cc1212;
}

#titulo-acesso:after {
    content:"";
    width:50px;
    border: 0.2rem solid #cc1212;
    position: absolute;
    margin: 10% 0 0 48%;
}

#inputs {

    margin-top: 5%;
    height: 150px;
    display: block;
}

#login,
#senha {
    height:25%;
    width: 75%;
    margin: 7px 0;
    border-radius: 5px;
    padding-left: 5px;
    border: 0;
}

#login:focus,
#senha:focus {
    box-shadow: none;
    outline: 0;
    border: 2px solid var(--tecbanRed01)
}




#btn-etrar {
    width: 75%;
    height: 22%;
    display: flex;
    font-size: 1.6rem ;
    justify-content: center;
    align-items: center;
    margin-left: 12.4%;
    margin-top: 8%;
    border-radius: 5px;
    border: none;
    transition: 0.35s;
    background-color: #ddd;
}

#btn-etrar:hover {
    background-color: #cc1212;
    color: var(--tecbanLightGray);
}